.Tracklist {
  width: 100%;
  overflow-y: scroll;
  max-height: 400px;
}

.Tracklist::-webkit-scrollbar {
  width: 8px;
}

.Tracklist::-webkit-scrollbar-track {
  background: #1a1a2e;
}

.Tracklist::-webkit-scrollbar-thumb {
  background: #00d9ff;
  border-radius: 4px;
}